<html>

    <head>
    <link rel="stylesheet" href="styles1.css">
    </head>
    
    <body>
        <h1> <a href="/"><font color="purple">Home</font></a>
             <a href="/listAllTasks"><font color="purple">List All Tasks</font></a>
        </h1>
        <h2><form action="/addNewTask" method="POST">
            Taks Name
            <input type="text" name="Taksname" /> </br>
            Task Due Date
            <input type="date" name="TaksDue" /> </br>
            Task Desc
            <input type="text" name="TaskDesc" /> </br>
            <button>Submit</button>
        </form>
        </h2>>
        
    </body>
    
    </html>